#picker {
  --range: 170deg;
  --rotate: calc(
    var(--active, 0) / var(--length) * (-1 * var(--range)) + var(--range) / 2
  );

  transform-origin: center center;
  transform: rotate(var(--rotate));

  transition: transform 1s ease-out;
}

#picker tspan {
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
  fill: #000;
}
